@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}

<div class="row footer">
    <div class="col-6">
       
        <div class="footer-advertising">
           <button class="btn"> Liên hệ quảng cáo </button>
           
        </div>
        <div class="footer-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d59576.24773092019!2d105.746865!3d21.0520642!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345457e292d5bf%3A0x20ac91c94d74439a!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2hp4buHcCBIw6AgTuG7mWk!5e0!3m2!1svi!2s!4v1709179920247!5m2!1svi!2s"
                     style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
        
    </div>
    
    <div class="col-6">

        <div>
            <h3>NEWS</h3>
        </div>
        <div class="footer-follow">
            Theo dõi báo trên: &nbsp;
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
            
        </div>
        <span>Giấy phép xuất bản số 110/GP - BTTTT cấp ngày 24.3.2020 © 2003-2024 Bản quyền thuộc về Báo Thanh Niên. 
            Cấm sao chép dưới mọi hình thức nếu không có sự chấp thuận bằng văn bản.
        </span>

        <div>
           
        </div>
    </div>
    <div class="col-6">
        <strong>TRỤ SỞ HÀ NỘI</strong>
        <p>
            <i class="fa fa-map-marker"></i> &nbsp; Tầng 12, Tòa nhà Geleximco , 36 Hoàng Cầu, Phường Ô chợ Dừa, Quận Đống Đa, Tp. Hà Nội

        </p>
        <p>
            <i class="fa fa-phone"></i> &nbsp; Điện thoại: (84-24) 73 00 24 24 | (84-24) 35 12 18 06
        </p>
        <p>
            <i class="fa fa-fax"></i> &nbsp; Fax: 0243 512 1804
        </p>
    </div>
    <div class="col-6">
        <strong>TRỤ SỞ HỒ CHÍ MINH</strong>
        <p>
            <i class="fa fa-map-marker"></i> &nbsp; Tầng 12, Tòa nhà Geleximco , 36 Hoàng Cầu, Phường Ô chợ Dừa, Quận Đống Đa, Tp. Hà Nội

        </p>
        <p>
            <i class="fa fa-phone"></i> &nbsp; Điện thoại: (84-24) 73 00 24 24 | (84-24) 35 12 18 06
        </p>
        <p>
            <i class="fa fa-fax"></i> &nbsp; Fax: 0243 512 1804
        </p>
    </div>
</div>