@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorrizationService

@{
    var result = await authorrizationService.AuthorizeAsync(this.User, "ViewManageMenu");
}
@if (result.Succeeded)
{
    <a class="dropdown-item" asp-action="Index" asp-controller="Admin" asp-area="Admin">
        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Quản trị
    </a>
@* <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-action="Index" asp-controller="DBmanage" asp-area="Database">Database</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Contacts" asp-area="Contact">Quản lý liên hệ</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">Quản role</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">Quản lý thành viên</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Categories" asp-area="Blog">Quản lý chuyên mục</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Posts" asp-area="Blog">Quản lý bài viết</a>

    </div>
</div> *@
}
@* 
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-action="Index" asp-controller="DBmanage" asp-area="Database">Database</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Contacts" asp-area="Contact">Quản lý liên hệ</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Role" asp-area="Identity">Quản role</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="User" asp-area="Identity">Quản lý thành viên</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Categories" asp-area="Blog">Quản lý chuyên mục</a>
        <a class="dropdown-item" asp-action="Index" asp-controller="Categories" asp-area="Blog">Quản lý bài viết</a>
    </div>
</div> *@
